/*GENERAL*/
.goldenLine{
    border-top: 0.01em solid #C1B386;
}
.grayLine {
	border-top: 0.01em solid lightgray;
}
.bRight{
    border-right: 0.01em solid #C1B386;
}
.lineBot{
    border-bottom: 0.01em solid #C1B386;
}
.logo {
	height: 100%;
}
hr{
    width: 8%;
}
button, input{
    background: transparent !important;
}
/*BACKGROUND*/
body, bg-general{
    background: #F0F0F0;
}
.bg-gold{
    background: #C1B386;
}
.bg-white{
    background: white;
}
.bg-necklaces{
    background-image: url("../img/necklaces-collection.jpg");
}
.bg-earrings{
    background-image: url("../img/earrings-collection.jpg");
}
.bg-blue{
    background: rgba(0, 19, 68, 0.85);
    height: 100%;
    width: 100%;
}
.bg-blog {
	background-image: url("../img/background-logo.jpg");
}
.bg-white2{
    background: rgba(233, 229, 228, 0.8);
}
/*COLORS*/
.gold{
    color: #C1B386;
}
/*SECTIONS*/
/*HEADER*/

/*CAROUSEL*/
.carousel-control{
    background: transparent !important;
}
.carousel-control img, .carousel-caption{
    position: absolute;
    top: 40%;
}
.carousel-caption{
    width: 25%;
}
.carousel-indicators{
    background-color: #C1B386;
    height:0.7em;
    width: 100%;
    margin-left: -50%;
}
.carousel-indicators li {
    display: inline-block;
    width: 5em;
    height:0.7em;
    margin-left: -0.3em;
    border-radius: 0;
    background-color: #A2925E;
    position: relative;
    top: -0.3em;
    border-color: transparent;
}
.carousel-indicators .active {
    width: 5em;
    height:0.7em;
    margin-left: -0.3em;
    background-color: #C1B386;
    border-color: transparent;
}
/*COLLECTIONS*/
.collectionTitle{
    border-top: 0.03em solid;
    border-bottom: 0.03em solid;
}
.viewCollection{
    color: rgba(0, 19, 68, 0.85);
}
.bg-blue:hover{
    color: #CCC09F;
}
/*NEWSLETTER*/
#email{
    border: none;
    width: 60%;
}
