@media only screen and (max-width: 768px) {
    .ringImgCarousel{
        display: block;
    }
    .item {
	    height:33em;
    }    
    .carousel-caption{
        width: 75%;
    }
    .carousel-caption{
        position: absolute;
        top: 0%;
    }
    .text-right{
        text-align: center;
    }
    .viewCollection{
        color: #CCC09F;
    }
}
@media only screen and (min-width: 768px) {
    .ringImgCarousel{
        display: none;
    }
}