@media only screen and (max-width: 768px) {
    .ringImgCarousel{
        display: block;
    }
    .item {
	    height:33em;
    }    
    .carousel-caption{
        width: 75%;
    }
    .carousel-caption{
        position: absolute;
        top: 0%;
    }
    .text-right{
        text-align: center;
    }
    .text-center {
        text-align: left;
    }
    .pull-right {
	    padding-right: 6%;
    }
    .center-block {
	    padding-top: 0;
    }
    .viewCollection{
        color: #CCC09F;
    }
    .dropdown-content {
        display: block;
        position: inherit;
        width: 60%;;
    }
    .dropdown-content .col-xs-4 {
        width: 100%;
        padding: 0;
    }
    .bg-dropMenu, .bg-dropMenu .bg-white2{
        background: #F0F0F0;
    }
    .nav {
	    padding-left: 10%;
    }
    #close{
        display: none
    }
}
@media only screen and (min-width: 768px) {
    .ringImgCarousel{
        display: none;
    }
}